/* Background Pattern 
Taken From https: http://thepatternlibrary.com/ */

body{
  background-color:white !important;
  background-image: linear-gradient(90deg, rgba(250, 50, 134,.5) 50%, transparent 50%),
  linear-gradient(rgba(250, 50, 134,.5) 50%, transparent 50%)!important;
  background-size:50px 50px!important;
}

h1{
  background-color: #ff599f !important;
  color: #ff96c2  !important;
}

h2, button{
  color: #ff599f  !important;
  background-color: #ff96c2 !important;
  font-weight: bold !important;
}


#myCanvas{
  border: 2px solid #ff96c2 ;
}
